body {
	padding:10px;
}

.nav {
	max-width: 218px;
	height: 500px;
	background-color: #000;
}

ul {
	padding: 0;
	margin: 0;
	height: auto;
}

ul#menu {
	width: 100%;
	height: auto;
	background-color: #000;
}

ul#menu li {
	list-style: none;
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
}

ul#menu li>a {
	font-family: 'Arial';
	font-size: 14px;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	text-shadow: 1px 0px 2px #000;
}

ul#menu li a span {
	padding: 0 10px;
	display: block;
}

ul#menu>li>a {	
	color:#C9D1E3;	
	background: #373D49;
	padding: 13px 0px;
	border-top:1px solid #494E5A;
	border-bottom:1px solid #22262E;
}

ul#menu li>a:hover{
	text-decoration: none;
}

/*submenu--------------*/
ul#menu li ul {
	display:none;
	padding: 7px 0;
}

ul#menu li>ul li>a {
	color:#788EA0;
	padding: 8px 0;
	font-size: 13px;
}

ul#menu li>ul li>a:hover {
	color:#fff;
}
/*submenu--------------*/